/*
 * Diese css-Klasse enthält die Farb-Einstellungen etc. für unser Fenster-Design
 * Autor: Dorsch, Paul, Deutsch, Penner, Kramer
 */
 
 * {
 	-fx-primary: #2A2E37;
 	-fx-secondary: #9C2B27;
 	-fx-primarytext: #B2B2B2;
 }
 
 .root{
 	-fx-background-color: -fx-primary;
 }
 
 .glyph-icon {
 	-fx-fill: -fx-primarytext;
 }
 
 .button {
 	-fx-fill: -fx-primarytext;
 }

 .login-button {
 	-fx-border-color: -fx-secondary;
 	-fx-border-radius: 20px;
 	-fx-background-radius: 20px;
 }
 
 .login-button:hover {
 	-fx-border-color: -fx-secondary;
 	-fx-background-color: -fx-secondary;
 }
 
 .text-field {
 	-fx-text-fill: -fx-primarytext;
 	-fx-font-size: 12pt;
 	-jfx-focus-color: -fx-secondary;
 }